.nav {
    margin-left: 20px;
}

.aside {
    /* background-color:green; */
    height: 200px;
    width: 200px;
    float: left;
    margin-top: 45px;
}

.nav-link__icon {
    display: inline-block;
    vertical-align: middle;
}

.nav-link__text {
    font-size: 12px;
    font-family: 'Roboto-Bold';
    color: #1c5bc3;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-left: 20px;
}

.nav-link {
    text-decoration: none;
    display: block;
    margin-bottom: 30px;
}