.main-content {
    /* background-color: red; */
    max-width: calc(100% - 180px);
    float: left;
}

.main-content__reviews {
    margin-bottom: 50px;
}

.bread-crumbs {
    margin-top: 45px;
}

.bread-crumbs__main-link {
    color: #1c5bc3;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
}

.bread-crumbs__reviews {
    color: #221f1f;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
}

.review__title {
    font-size: 50px;
    font-family: 'Roboto-Bold';
    color: #221f1f;
}

.feedback {
    border-bottom: 2px solid #f5f5f5;
    width: 100%;
    padding: 30px 0;
    font-size: 0;
}

.feedback__foto {
    border-radius: 50%;
    display: inline-block;
    width: 160px;
    vertical-align: middle;
    margin-right: 20px;
}

.feedback__info {
    display: inline-block;
    max-width: 700px;
    vertical-align: middle;
}

.feedback__date {
    font-size: 14px;
    font-weight: 300;
    color: #656464;
    margin-bottom: 15px;
}

.feedback__name {
    font-size: 18px;
    font-family: 'Roboto-Bold';
    color: #221f1f;
    margin-bottom: 25px;
}

.feedback__text {
    font-size: 18px;
    font-weight: 300;
    color: #221f1f;
}